@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #6a6969;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
}

div {
  display: block;
}

a {
  text-decoration: none;
}

/* Nav */
nav{
  position: fixed;
  background-color: #0984E3;
}

nav .nav-wrapper {
  margin: 0 60px;
}

.btn-menu {
  margin: 0 33px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

/* Header */
.index-header {
  background-image: url(./assets/images/undraw_code_review.svg);
  background-repeat: no-repeat;
  background-size: 700px;
  background-position-x: 60px;
  background-position-y: 90px;
  padding-top: 50px;
  padding-bottom: 60px;
  height: 700px;
}

.header-container {
    padding: 70px;
}

.header-title {
  text-align: right;
  font-weight: 700;
  font-size: 40px;
}

.row {
  display: flex;
}

.row .col.s4 {
  margin: 0;
}

.card .card-image .card-title {
  color: #6a6969;
  font-weight: bolder;
}

/* Footer */
footer {
  background-color: #0984E3;
  color: white;
  padding: 50px 0 20px;
  text-align: center;
}

p {
  padding: 20px 0;
  color: white;
}